<!DOCTYPE html>
<html>
<head>
    <title>Search</title>
    <meta charset="utf-8"> 
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <h2>    </h2>
    <div class="btn-group" style="float:left; margin-right: 20px;">
        <!-- href是相对链接 -->
        <a class="btn btn-default" href="/search" role="button"><span class="glyphicon glyphicon-search"></span>&nbsp;网页</a>
        <a class="btn btn-default" href="/search_img" role="button"><span class="glyphicon glyphicon-picture"></span>&nbsp;图片</a>
    </div>
    <form action="result">
        <input type="name" name="keyword">
        <input class="btn btn-default" type="submit" name="搜索">
    </form>


    
    <!-- <h1>Search</h1>
    <font size = "4" >网页&nbsp;&nbsp;<a href="/search_img" >图片</a></font>
    <form action="result">
        <input type="name" name="keyword"><br>
        <input type="submit" name="搜索">
    </form> -->
</body>
</html> 